[flake8]
max-line-length=100
;D400 First line should end with a period
;D401 First line should be in imperative mood
;D401 First line should be in imperative mood; try rephrasing
;D403 First word of the first line should be properly capitalized
;D413: Missing blank line after last section
ignore = D400,D401,D403,D413
